.box-images {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.box-image {
  width: 400px;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s linear;
}

.box-image:hover {
  box-shadow: 1px 1px 20px black;
}

.box-images-2 {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}